<app-header></app-header>

<div class="container content-container content-block">
  <div class="login-box central">
    <div class="title">扫码登录</div>

    <!-- 未扫码情况 -->
    <ng-container *ngIf="status === 0">
      <img class="qrcode" [src]="url" alt="登录二维码" />
      <div class="desc">请扫描以上二维码</div>
    </ng-container>

    <!-- 已扫码，未确认情况 -->
    <ng-container *ngIf="status === 1">
      <div class="icon iconfont icon-done2-outline"></div>
      <div class="desc">请在手机上「确认登录」</div>
    </ng-container>

    <!-- 已确认情况 -->
    <ng-container *ngIf="status === 2">
      <div class="icon iconfont icon-done2-filled"></div>
      <div class="desc">即将跳转登录前页面</div>
    </ng-container>
  </div>
</div>
