<!-- 跟可视区域等高的容器 -->
<div class="page-container">
    <!-- 有效内容区域 -->
    <div class="content">
        <h2 class="name" routerLink="/">小鸣助手</h2>
        <div class="desc">超好用的生活辅助应用</div>
        <div class="tip">使用微信扫一扫登录</div>
        <div class="qrcode-area">
            <img [src]="url" class="qrcode" />
        </div>

        <!-- 刷新 -->
        <div class="refresh" (click)="refresh()">
            <div class="text">刷新</div>
            <div class="material-icons">refresh</div>
        </div>
    </div>
</div>
