<div class="container flex-row">
  <div class="item" *ngFor="let item of list">
    <div class="day-text">{{ item.dayText }}</div>
    <div class="date-text">{{ item.dateText }}</div>
    <div class="text text-{{ item.textDay.length >= 4 ? '4' : 'lt4' }}">{{ item.textDay }}</div>
    <img class="wea-icon" src="{{ item.iconDayUrl }}" />
    <div class="temp degree">{{ item.tempMax }}</div>

    <div class="separator"></div>

    <div class="temp degree">{{ item.tempMin }}</div>
    <img class="wea-icon" src="{{ item.iconNightUrl }}" />
    <div class="text text-{{ item.textNight.length >= 4 ? '4' : 'lt4' }}">{{ item.textNight }}</div>
    <div class="wind wind-dir">{{ item.windDirDay }}</div>
    <div class="wind wind-scale">{{ item.windScaleDay }}级</div>
  </div>
</div>
