.header {
  height: 64px;
  padding: 0 20px 0 40px;
  background-color: #1976d2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  color: #fff;

  .brand {
    margin-right: 100px;
    .name {
      font-size: 20px;
    }
  }

  .item {
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    border-radius: 4px;
    margin: 0 5px;
  }

  .active,
  .item:hover {
    background-color: #3b8ad9;
  }

  .gap {
    flex-grow: 1;
  }
}
