<!-- 顶部导航栏 -->
<div class="header">
  <div class="main">
    <div class="brand" [routerLink]="['/']">
      <div class="name">我的个人助手</div>
    </div>

    <div class="item" [routerLink]="['/']">首页</div>
    <div class="item" [routerLink]="['/weather']" routerLinkActive="active">天气</div>
    <div class="item" [routerLink]="['/tools']" routerLinkActive="active">工具箱</div>
    <div class="item" [routerLink]="['/user']" routerLinkActive="active">个人中心</div>

    <!-- 自适应宽度的间隙 -->
    <div class="gap"></div>

    <!-- 未登录状态 -->
    <div *ngIf="!logged" class="item login-button" [routerLink]="['/login']">登录</div>

    <!-- 已登录状态 -->
    <div *ngIf="logged" nz-dropdown [nzDropdownMenu]="menu">
      <img class="avatar" [src]="avatarUrl" alt="用户头像" />
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>个人中心</li>
          <li nz-menu-item>账户设置</li>

          <li nz-menu-divider></li>

          <li nz-menu-item nzDanger nz-popconfirm nzPopconfirmTitle="是否确认退出登录？" nzOkText="确认退出" nzCancelText="继续使用" (nzOnConfirm)="logout()">
            退出登录
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
