.main {
  display: flex;
  flex-wrap: wrap;

  height: 400px;
  padding: 30px;

  .card {
    width: 260px;
    height: 130px;

    position: relative;

    background-color: var(--block-background-color);
    border: 1px solid var(--global-border-color);
    border-radius: 4px;

    cursor: pointer;

    .title {
      font-size: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}
