<!-- 跟可视区域等高的容器 -->
<div class="page-container">
    <!-- 有效内容区域 -->
    <div class="content">
        <h2 class="name" routerLink="/">小鸣助手</h2>
        <div class="desc">超好用的生活辅助应用</div>
        <div class="tip">使用微信扫一扫登录</div>
        <div class="qrcode-area">
            <img [src]="url" class="qrcode" />
            <!-- 已扫码情况浮层 -->
            @if (scanned) {
            <div class="scanned">
                <div class="material-icons">check_circle</div>
                <div class="text">已扫码，请在手机上确认</div>
            </div> }

            <!-- 小程序码失效情况 -->
            @if (invalid) {
            <div class="invalid" (click)="refresh()">
                <div class="material-icons">error</div>
                <div class="text">已失效，请刷新重试</div>
            </div>}

        </div>

        <!-- 刷新 -->
        <div class="refresh" (click)="refresh()">
            <div class="text">刷新</div>
            <div class="material-icons">refresh</div>
        </div>
    </div>
</div>
