.main {
  display: flex;
  justify-content: space-between;

  .menu {
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding: 10px;

    background-color: #fff;
    border: 1px solid #f1f1f1;

    .item {
      display: flex;
      align-items: center;
      font-weight: 400;
      height: 48px;
      width: 100%;
      font-size: 16px;
      color: #4e5969;
      margin-top: 6px;

      padding-left: 24px;
    }

    .item:hover,
    .active {
      background-color: #e8f3ff;
      color: #1d7dfa;
    }
  }

  .content {
    margin-left: 10px;
    flex-grow: 1;
    height: 100%;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px;
  }
}
