<div class="main">
  <div class="title">个人资料</div>

  <div class="profile">
    <div class="item">
      <div class="name">头像</div>
      <img class="avatar" src="https://res.lifehelper.com.cn/avatar/9a50dc05a6b941ed9125bbf3083911ac" alt="头像" />
    </div>

    <div class="item">
      <div class="name">昵称</div>
      <div class="value">会飞的猪</div>
    </div>

    <div class="item">
      <div class="name">性别</div>
      <div class="value">男</div>
    </div>

    <div class="item">
      <div class="name">国家</div>
      <div class="value">中国</div>
    </div>

    <div class="item">
      <div class="name">省份</div>
      <div class="value">浙江省</div>
    </div>

    <div class="item">
      <div class="name">城市</div>
      <div class="value">杭州市</div>
    </div>
  </div>
</div>
