@font-face {
  font-family: "iconfont"; /* Project id 2686981 */
  src: url('iconfont.woff2?t=1626770081188') format('woff2'),
       url('iconfont.woff?t=1626770081188') format('woff'),
       url('iconfont.ttf?t=1626770081188') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-done-outline:before {
  content: "\e631";
}

.icon-done-filled:before {
  content: "\e632";
}

.icon-done2-filled:before {
  content: "\e633";
}

.icon-done2-outline:before {
  content: "\e634";
}

