@import '../node_modules/@angular/material/theming';

@include mat-core();
$custom-primary: mat-palette($mat-green, 600);
$custom-accent: mat-palette($mat-pink);
$custom-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);
