<div class="container">
  <!-- 未扫码情况 -->
  <div class="login-box" *ngIf="status === 0">
    <img class="qrcode" [src]="url" />
    <div class="title">使用手机微信扫码登录</div>
    <div class="desc">扫码后将打开「我的个人助手」小程序进行登录确认</div>
  </div>

  <!-- 已扫码，未确认情况 -->
  <div class="login-box" *ngIf="status === 1">
    <img class="qrcode" [src]="url" />
    <div class="title">等待登录确认</div>
    <div class="desc">你已扫码，请点击「登录」</div>
  </div>

  <!-- 已确认情况 -->
  <div class="login-box" *ngIf="status === 2">
    <img class="qrcode" [src]="url" />
    <div class="title">登录成功</div>
    <div class="desc">你已登录成功</div>
  </div>
</div>
