.main {
  height: 960px;

  /** 正中间的盒子 */
  .login-box {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .title {
      color: #353535;
      font-size: 26px;
      margin-bottom: 40px;
    }

    .qrcode {
      width: 250px;
      height: 250px;
    }

    .success {
      width: 270px;
      height: 270px;
      padding: 50px;

      .icon {
        font-size: 70px;
        color: green;
      }

      .success-tip {
        font-size: 20px;
      }
    }

    .desc {
      margin-top: 50px;
      color: #a3a3a3;
      font-size: 20px;
    }
  }
}
