<div class="container">
    <!-- 左侧菜单栏 -->
    <div class="menu">
        <!-- 快捷操作区 -->
        <div class="shortcut">
            <div class="item">所有</div>
            <div class="item">今天</div>
            <div class="item">明天</div>
            <div class="item">最近7天</div>
        </div>

        <!-- 分割线 -->
        <div class="divider"></div>

        <!-- 待办清单列表区 -->
        <div class="projects-area">
            <div class="header">
                <div class="title">清单({{ projectList.length }})</div>
                <button mat-icon-button (click)="openProjectEditingDialog()"><mat-icon>add</mat-icon></button>
            </div>
            <div class="list">
                @for (item of projectList; track $index) {
                    <div class="item">{{ item.id }} - {{ item.name }}</div>
                }
            </div>
        </div>

        <!-- 分割线 -->
        <div class="divider"></div>

        <!-- 标签区 -->
        <div class="tags-area">
            <div class="header">
                <div class="title">标签({{ tagList.length }})</div>
                <button mat-icon-button><mat-icon>add</mat-icon></button>
            </div>
            <div class="list">
                @for (item of tagList; track $index) {
                    <div class="item">{{ item.id }} - {{ item.name }}</div>
                }
            </div>
        </div>
    </div>
    <!-- 中间任务列表区 -->
    <div class="list">2</div>
    <!-- 右侧任务详情区 -->
    <div class="detail">3</div>
</div>
